/* media resets. some of which were typed out from https://www.joshwcomeau.com/css/custom-css-reset/*/

:root {
    --primary-color: #d0bfc3;
    --secondary-color: #91b8d1;
    --accent-color: #7c4d4e;
    --text-color: #b87e61;
    --emphasis: #413c58;
    --light-emphasis-color: #379bda;
    --white: #fff;    
    --menuItemsSize: 1.5rem; 
    --heading2Hero: 2rem;
    --heading1: 2.5rem;
    --heading2: 2rem;
    --heading3: 1.5rem;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

body {
    line-height: 1.5;
}

a {
    
    color:inherit;
}

li {
    list-style: none;
}

img {
    display:block;
    
}

h3 {
    font-size:     var(--heading3);
}

/* The body color is set to provide an outline between the page container and the body. A default line hi
height which is part of the reset*/

body {
    background-color: var(--accent-color);
}

.pageContainer {
}

/*THe header for a page contains the whole section of Site Title, Navigation and Banner
image with Page title. */

header {
    background-color: var(--accent-color);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

header h1 {
    align-items: center;
    flex-grow: 0;
    font-size: var(--heading1);
    padding-right:8%;
    padding-left:2%;
    color:var(--accent-color);
    margin: 2% 0 2% 0;
    background-color: var(--secondary-color);
    box-shadow: 10px 10px 32px -11px var(--emphasis);
}

header nav {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    font-size: var(--menuItemsSize);
    color: var(--secondary-color);
    margin: 3%;
}

header nav ul {
    display: flex;
    flex-grow: 0;
    flex-basis: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
}

header nav li {
    flex-basis: 2vw;
    flex-grow: 2;
    margin-left:2vw;
    padding-left: 3vw;
    list-style-type: none;
    border-bottom: 0.5vh solid var(--secondary-color);
}

header nav li a {
    text-decoration: inherit;
    color: inherit;
}

header nav li:hover {
    cursor: pointer;
    border-bottom: 25px solid var(--secondary-color);
}

/*The flex basis here helps widen the image out to the edge of the viewport*/

header section {
    flex-basis:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:0vw;
    margin-bottom:0vw;
}

header section img {
    background-repeat: no-repeat;
    background-size: cover;
    height:42vh;
    background-position: center right;
    height: 36vh;
    width: 100%;
    object-fit:cover; /*ssists in the display of the header banner as a banner*/
}

header section h2 {
    position: absolute;
    right:2vh;
    bottom:5vh;
    right: 0vh;
    margin-right:0vw;
    background-color: var(--accent-color);
    padding: 1vw 3vw 1vw 3vw;
    box-shadow: 10px 10px 32px -11px var(--emphasis);
    
}

main {
    background-color: var(--white);
    margin-right:1%;
    margin-left:1%;
}
section {
    display: flex;
    margin-bottom: 2vw;
    flex-direction: row;
    align-content:baseline;
    flex-wrap: wrap;
    
}

section article {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 2vh;
    margin-top:2vw;
    margin-bottom:2vw;

}


section article img {
    max-width:60%
    
    
}

article {
    display: flex;
}

article img {
    
    margin-left:1vw;
    
    object-fit:cover; 
    outline: 6px solid var(--light-emphasis-color);
    
}

section article.hero img {
    margin-left:2vw;
    max-width: 800px;
    
    
    
}

section h2{
    font-size: var(--heading2);
    color: var(--secondary-color);
    padding: 1% 4% 1% 6%;
    margin-right:2vw;
    border-right: 0.5vw solid var(--text-color);
    flex-basis:20%;
    flex-shrink: 0;
    flex-grow: 0;
}

article p {
    margin-left:2%;
    width: 60vw;
    min-width:60vw;
}



article h3 {
    margin-left:2w;
    
    position: absolute;
    bottom: 4vh;
    left:1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--emphasis);
    outline: 6px solid var(--light-emphasis-color);
    background-color: var(--secondary-color);
}

section article.hero h3 {
    padding-left: 1vw;
    left:2vw;
}

section article.text-only h3 {
    margin-left:2vw;
    outline: none;
    position: relative;
    bottom:0;
    background:none
}

section article.text-only p {
    position: relative;
    bottom:0;
    
    background:none
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--text-color);
}

footer section {
    flex-direction:column;
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    padding: 2% 2% ;
}

footer section ul {
    text-align: center;
    flex-grow: 0;
    list-style: none;
} /*lists displayed in the footer*/

div.pageContainer div {
    background-color: var(--secondary-color);
    text-align: center;
    display: block;
}

@media screen and (max-width: 960px) {
    
    main {
        margin-right: 0;
        margin-left: 0;
    }

    section {
        
    }

    section article.hero img {
        
        
        
        
    }

    section h2 {
    font-size: var(--heading2);
    color: var(--secondary-color);
    padding: 1% 6% 1% 1%;
    margin-left: 2%;
    border-right: 0 none var(--text-color);
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
    }
    
    article h3 {
        position: absolute;
        bottom: 4vh;
        padding-left: 2vw;
        padding-right: 2vw;
        background-color: var(--secondary-color);
    }

    section article.text-only h3 {
        margin-left: 0;
    }
    article p {
        width:auto;
        margin-left: 3%;
        margin-right: 3%;
    }

    article img {
        outline: none;
    }

    footer {
        flex-direction: column;
    }    
}


@media screen and (max-width: 430px) {
    
    main {
        margin-right: 0;
        margin-left: 0;
    }

    section {
        flex-direction: column;
    }

    section h2 {
    font-size: var(--heading2);
    color: var(--secondary-color);
    padding: 1% 6% 1% 6%;
    margin-right: 2vw;
    border-right: 0 none var(--text-color);
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
    }
    
    article p {
        width:auto;
    }

    footer {
        flex-direction: column;
    }    
}
