/* media resets. some of which were typed out from https://www.joshwcomeau.com/css/custom-css-reset/*/

:root {
    --primary-color: #d0bfc3;
    --secondary-color: #91b8d1;
    --accent-color: #482728;
    --text-color: #b87e61;
    --emphasis: #413c58;
    --white: #fff;    
    --menuItemsSize: 1.5rem; 
    --heading2Hero: 2rem;
    --heading2: 2rem;
    --heading3: 1.5rem;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

body {
    line-height: 1.5;
}

img {
    display:block;
    max-width:100%;
}

/* The body color is set to provide an outline between the page container and the body. A default line hi
height which is part of the reset*/

body {
    background-color: var(--accent-color);
}

.pageContainer {
    background-color: var(--white);
    margin:1%;
}

/*THe header for a page contains the whole section of Site Title, Navigation and Banner
image with Page title. */

header {
    background-color: var(--accent-color);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

header h1 {
    align-items: center;
    flex-grow: 2;
    padding-left:2vw;
    color:var(--accent-color);
    margin-bottom: 2vh;
    background-color: var(--secondary-color);
}

header nav {
    display: flex;
    font-size: var(--menuItemsSize);
    color: var(--secondary-color);
    margin-bottom: 3vh;
}

header nav ul {
    display: flex;
    flex-grow: 2;
    flex-basis: 2vw;
    flex-direction: row;
    flex-wrap: nowrap;
}

header nav li {
    flex-basis: 2vw;
    flex-grow: 2;
    margin-left:2vw;
    padding-left: 3vw;
    list-style-type: none;
    border-bottom: 0.5vh solid var(--secondary-color);
}

header nav li:hover {
    border-bottom: 1vh solid var(--secondary-color);
}

/*The flex basis here helps widen the image out to the edge of the viewport*/

header section {
    flex-basis:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header section img {
    background-repeat: no-repeat;
    background-size: cover;
    height:42vh;
    background-position: center right;
    height: 43vh;
    width: 100%;
    object-fit:cover;
}

header section h2 {
    position: absolute;
    right:2vh;
    bottom:5vh;
    right: 0vh;
    background-color: var(--secondary-color);
    padding: 1vw 3vw 1vw 3vw;
    
}

section {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: nowrap;
}

section h2{
    
    font-size: var(--heading2);
    color: var(--secondary-color);
    padding: 1vh 4vh 1vh 6vh;
    
}

article {

}

article img {

}

article h3 {

}

article p {
    border-left: 0.3vw solid var(--emphasis);
    
}




