/* media resets. some of which were typed out from https://www.joshwcomeau.com/css/custom-css-reset/*/

:root {
    --primary-color: #d0bfc3;
    --secondary-color: #91b8d1;
    --accent-color: #684243;
    --text-color: #b87e61;
    --emphasis: #413c58;
    --light-emphasis-color: #379bda;
    --white: #fff;    
    --menuItemsSize: 1.5rem; 
    --heading2Hero: 2rem;
    --heading1: 2.5rem;
    --heading2: 2rem;
    --heading3: 1.5rem;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

body {
    line-height: 1.5;
}

img {
    display:block;
    
}

h3 {
    font-size:     var(--heading3);
}

/* The body color is set to provide an outline between the page container and the body. A default line hi
height which is part of the reset*/

body {
    background-color: var(--accent-color);
}

.pageContainer {
}

/*THe header for a page contains the whole section of Site Title, Navigation and Banner
image with Page title. */

header {
    background-color: var(--accent-color);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

header h1 {
    align-items: center;
    flex-grow: 2;
    font-size: var(--heading1);
    line-height: 15vh;
    padding-left:2vw;
    color:var(--accent-color);
    margin: 2vh 0 2vh 0;
    background-color: var(--secondary-color);
}

header nav {
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    font-size: var(--menuItemsSize);
    color: var(--secondary-color);
    margin: 3vh;
}

header nav ul {
    display: flex;
    flex-grow: 2;
    flex-basis: 2vw;
    flex-direction: row;
    flex-wrap: nowrap;
}

header nav li {
    flex-basis: 2vw;
    flex-grow: 2;
    margin-left:2vw;
    padding-left: 3vw;
    list-style-type: none;
    border-bottom: 0.5vh solid var(--secondary-color);
}

header nav li a {
    text-decoration: inherit;
    color: inherit;
}

header nav li:hover {
    cursor: pointer;
    border-bottom: 1vh solid var(--secondary-color);
}

/*The flex basis here helps widen the image out to the edge of the viewport*/

header section {
    flex-basis:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:0vw;
    margin-bottom:0vw;
}

header section img {
    background-repeat: no-repeat;
    background-size: cover;
    height:42vh;
    background-position: center right;
    height: 36vh;
    width: 100%;
    object-fit:cover; /*ssists in the display of the header banner as a banner*/
}

header section h2 {
    position: absolute;
    right:2vh;
    bottom:5vh;
    right: 0vh;
    margin-right:0vw;
    background-color: var(--accent-color);
    padding: 1vw 3vw 1vw 3vw;
    
}

main {
    background-color: var(--white);
    margin-right:1%;
    margin-left:1%;
}
section {
    display: flex;
    margin-bottom: 2vw;
    flex-direction: row;
    align-content:baseline;
    flex-wrap: wrap;
    
}

section article {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 2vh;
    margin-top:2vw;
    margin-bottom:2vw;

}


section article img {
    flex-basis: 30%;
    margin:20px;
}

.profile-box {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-self: flex-start;
}

.profile-box-image {
    border-radius: 1000px;
    width:50px;
    width:50px;
}

article img {
    flex-basis: 100px;
    margin-left:1vw;
    height:20vh;
    object-fit:cover; 
    outline: 6px solid var(--light-emphasis-color);
    
}

section article.hero img {
    margin-left:2vw;
    width: 60vw;
    height:40vh;
    min-width:60vw;
    
}

section h2{
    font-size: var(--heading2);
    color: var(--secondary-color);
    padding: 1% 4% 1% 6%;
    margin-right:2vw;
    border-right: 0.5vw solid var(--text-color);
    flex-basis:20%;
    flex-shrink: 0;
    flex-grow: 0;
}

article p {
    margin-left:2vw;
    width: 60vw;
    min-width:60vw;
}



article h3 {
    margin-left:2w;
    
    position: absolute;
    bottom: 4vh;
    left:1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--emphasis);
    outline: 6px solid var(--light-emphasis-color);
    background-color: var(--secondary-color);
}

section article.hero h3 {
    padding-left: 1vw;
    left:2vw;
}

section article.text-only h3 {
    margin-left:2vw;
    outline: none;
    position: relative;
    bottom:0;
    background:none
}

section article.text-only p {
    position: relative;
    bottom:0;
    
    background:none
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--text-color);
}

footer section {
    display: flex;
    padding: 2vw 5vw 2vw 5vw;
}

footer section ul {
    flex-basis: 20vw;
    list-style: none;
} /*lists displayed in the footer*/

div.footer-box {
    background-color: var(--secondary-color);
    text-align: center;
    display: block;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}