/* media resets. some of which were typed out from https://www.joshwcomeau.com/css/custom-css-reset/*/

:root {
    --primary-color: #d0bfc3;
    --secondary-color: #91b8d1;
    --accent-color: #684243;
    --text-color: #b87e61;
    --emphasis: #413c58;
    --light-emphasis-color: #379bda;
    --white: #fff;    
    --menuItemsSize: 1.5rem; 
    --heading2Hero: 2rem;
    --heading1: 2.5rem;
    --heading2: 2rem;
    --heading3: 1.5rem;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

html {
    width: 100vw;
}

body {
    line-height: 1.5;
}

img {
    
    
}

h3 {
    font-size:     var(--heading3);
}

/* The body color is set to provide an outline between the page container and the body. A default line hi
height which is part of the reset*/

body {
    background-color: var(--accent-color);
}

.pageContainer {
    width: auto;
}

/*THe header for a page contains the whole section of Site Title, Navigation and Banner
image with Page title. */

header {
    background-color: var(--accent-color);
    width:100%;
    position: relative;
}

header section {
    
    margin-top:0vw;
    margin-bottom:0vw;
}

header.siteHeader {
    
    
    
    

}






/*The flex basis here helps widen the image out to the edge of the viewport*/

header div {
    width:100%;
}

header img {
    width: 100%;
    background-position: center right;
    height: 20vh;
    
    object-fit:cover; /*ssists in the display of the header banner as a banner*/
}



header h2 {
    width:100%;
    position: absolute;
    margin-left: 4%;
    padding-left: 4%;
    bottom:10%;
    left:4%;
}

header section.banner {
    display: block;
}

main {
    background-color: var(--white);
    margin-right:1%;
    margin-left:1%;
}
section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    flex-direction: row;
    align-content:baseline;
    flex-wrap: wrap;
    
}

section div {
    width:60%;
    
    display: flex;
    justify-content: space-between;
    align-content:space-around;
    flex-wrap: wrap;
}

section article {
    flex-direction: column;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 2vh;
    margin-top:2vw;
    margin-bottom:2vw;

}


section article img {
    flex-basis: 30vh;
    
    margin:20px;
}

.profile-box {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-self: flex-start;
}

.profile-box-image {
    border-radius: 1000px;
    width:50px;
    width:50px;
}

article img {
    flex-basis: 100px;
    margin-left:30vw;
    width: 100vw;
    max-width: 40vh;
    object-fit:cover; 
    outline: 8px solid var(--light-emphasis-color);
    
}

section article.hero img {
    margin-left:30vw;
    flex-basis: 300px;
    max-width: 60vw;

    
    
}

section h2{
    font-size: var(--heading2);
    color: var(--secondary-color);
    padding: 1% 4% 1% 6%;
    margin-right:2vw;
    border-right: 0.5vw solid var(--text-color);
    flex-basis:20%;
    flex-shrink: 0;
    flex-grow: 0;
}

article p {
    margin-left:2vw;
    width: 60vw;
    min-width:60vw;
}



article h3 {
    
    
    position: absolute;
    bottom: 7vh;
    left:6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--emphasis);
    outline: 6px solid var(--light-emphasis-color);
    background-color: var(--secondary-color);
}

section article.hero h3 {
    padding-left: 1vw;
    left:30vw;
}

section article.text-only h3 {
    margin-left:2vw;
    outline: none;
    position: relative;
    bottom:0;
    background:none
}

section article.text-only p {
    position: relative;
    bottom:0;
    
    background:none
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--text-color);
    
}

footer a {
    text-decoration: none;
}

footer ul {
    margin-right:auto;
    margin-left:auto;
    width: 100%;
    max-width:300px;
    min-width: 200px;
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    list-style:none;
}

footer li {
    text-align: center;
    width:100%;
}

 /*lists displayed in the footer*/

div.footer-box {
    background-color: var(--secondary-color);
    text-align: center;
    display: block;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { 
    section h2 {
        border-right: 0.5vw solid var(--text-color);
        border-bottom: none;
    }

    section article.hero img {
        
    }
    footer {
        flex-direction: row;
        flex-wrap:wrap;
    }
    footer ul {
       flex: 0 1 auto; 
       border-right: 0.2vh solid var(--secondary-color);   
       
       margin:auto;
    }
    footer ul:last-child {
        flex: 0 1 auto; 
        border-right: none;
        margin:auto;
     }
    
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    header section {
        justify-content:flex-end;
    }

    section {
        flex-direction: column;
        justify-content: center;
    }

    section h2 {
        border-right:none;
        text-align: center;
    }

    
    footer{
        
        
    }
    footer ul {
        width:auto;
        border-top: 0.2vh solid var(--secondary-color); 
        padding-top:3%;
        padding-bottom: 3%;
    }

    
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    
    section h2 {
        width: 100%;
        text-align: center;
        flex-direction: column;
        border-right:none;
        text-align: center;
    }

    section {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    section img {
        
    }

    
 
    footer ul {
        border-bottom: 0.2vh solid var(--secondary-color);
        padding-top: 3%;
        padding-bottom: 3%;
        
    }
}

@media all and (max-width: 480px) { 
    section {
        flex-direction: column;
    }
    section h2 {
        width:100%;
        text-align: center;
        
    }

    header nav {

    }
    
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}